h1 {
  font-family: fantasy;
  color: green;
  font-size: 38px;
}

li {
  color: black;
  font-size: 18px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

.weather-app {
  border: 1px solid gray;
  padding: 15px;
  margin: 20px auto;
  border-radius: 5px;
  max-width: 600px;
}

.search-form {
  margin-bottom: 30px;
}
